<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0" id="cordova-plugin-external-keyboard" version="0.0.1">
    <name>ExternalKeyboard</name>
    <description>detect an external keyboard</description>
    <license>Apache 2.0</license>
    <keywords>cordova,externalkeyboard</keywords>

    <engines>
	<engine name="cordova" version=">=3.2.0" />
    </engines>

    <js-module src="www/externalKeyboard.js" name="externalKeyboard">
    	<clobbers target="window.ExternalKeyboard" />
    </js-module>

    <!-- ios -->
    <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="ExternalKeyboard">
                <param name="ios-package" value="CDVExternalKeyboard" onload="true" />
            </feature>
        </config-file>

        <header-file src="src/ios/CDVExternalKeyboard.h" />
        <source-file src="src/ios/CDVExternalKeyboard.m" />
    </platform>

    <!-- android -->
    <platform name="android">
        <config-file target="config.xml" parent="/*">
            <feature name="ExternalKeyboard">
                <param name="android-package" value="org.apache.cordova.externalkeyboard.ExternalKeyboard" onload="true" />
            </feature>
        </config-file>

        <source-file src="src/android/ExternalKeyboard.java" target-dir="src/org/apache/cordova/externalkeyboard" />
    </platform>

</plugin>
